
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: sans-serif;
}
.home{
	height: 100vh;
	width: 100%;
	background: #4682B4; 	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #4682B4;
	border-bottom: 1px solid white ;
}
.logo{
	color: white ;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	
}
span{
	color: white;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white ;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: white;
	transition: 0.5s;
}
.btn{
	background-color: white;
	color: #4682B4;
	border: 2px solid white;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 30px;
	transition: transform.5s;
}
.btn:hover{
	transform: scale(1.2);
	border: 2px solid white;
	background-color: transparent;
}
.image{
	width: 60px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: 100px;
	padding-top: 70px;
	transform: rotate(180deg);
}
.image.img{
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 23%;
	transform: translateX(20%);
}
.content{
	position: absolute;
	top: 60%;
	left: 8%;
	transform: translateY(-50%);
}
h4{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}
h1{
	color: white;
	font-size: 65px;
	margin: 20px 0 20px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
.content a{
	font-size: 20px;
	background:white  ;
	color: #4682B4 ;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 30px;
	border: 2px solid white;
	transition: .5s;
}
.content a:hover{
	background: transparent;
	border : 2px solid white;
}

.about{
	width: 100%;
	padding: 100px 0;
	background-color: white;
}
.about-me{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-me img{
	height: 400px;
	width: 400px;
	margin: 100px auto;
	border-radius: 50%;
	border-bottom: 5px solid white ;
}
.about-text{
	width: 550px;
}
span{
	color: black;
}
.about-text h2{
	color: #4682B4;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-bottom: 1px solid #4682B4;
}
.about-text h5{
	color: black;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: black;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	text-align: justify;
}
.button{
	background-color: #4682B4   ;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .5s;
}
.button:hover{
	background-color: transparent;
	border: 2px solid #4682B4;
	cursor: pointer;
}
.service{
	background: #696969 ;
	width: 100%;
	padding: 100px 0;
}

.title h2{
	color: black ;
	font-size: 75px;
	width: 100%;
	margin-bottom: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
}
.card{
	height: 300px;
	width: 300px;
	padding: 20px 35px;
	background: #4682B4;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid white;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 80px 0;
	color: blue;
}
.card h5{
	color: black ;
	font-size: 23px;
	margin-bottom: 25px;
}
.pra p{
	color: black ;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	text-align: center;
}
.pra p a{
	background-color: #4682B4 ;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
}
.pra p a:hover{
	background-color: transparent;
	border: 2px solid blue;
	cursor: pointer;
}
.skill{
	background: white ;
	width: 100%;
	padding: 100px 0;
}
.skill-bar{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
.skill-bar p{
	text-align:left ;
	color: blue;
	background-color: white;
}
.skill-box{
	text-align: right;
	width: 100%;
	background-color: white;
}
.html{
	width: 80%;
	background-color: blue;
}
.css{
	width: 80%;
	background-color: blue;
}
.php{
	width: 80%;
	background-color: blue;
}
.python{
	width: 80%;
	background-color: blue;
}
.mysql{
	width: 80%;
	background-color: blue;
}

.figma{
	width: 80%;
	background-color: blue;
}
.coreldraw{
	width: 75%;
	background-color: blue;
}

.contact-me{
	width: 100%;
	padding: 100px 0;
	background-color: #4682B4;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.contact-text h2{
	color: white;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.contact-box{
	color: white;
}
.contact-box:after{
	content: '';
	display: block;
	clear: both;
}
.contact{
	width: 25%;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.contact{
	color: white;
	padding-bottom: 10px;
}
.contact p{
	font-size: 18px;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1) {
	font-size: 20px;
	color: #4682B4;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
color: #4682B4;
font-size: 17px;
width: 500px;	
text-align: center;
line-height: 10px;
}
.sosial{
	display: flex;
}
.sosial a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4682B4;
	border-radius: 50p%;
	margin: 22px 10px;
	color: white;
	border: 2px solid white;
}
.sosial a:hover{
	transform: scale(1.3);
	transition: 0.5s;
	background: transparent;
	border: 2px solid #4682B4;
}
.end{
	position: absolute;
	color: #4682B4;
	bottom: 60px;
	font-size: 16px;
}
}
.image{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 10;
	right: 50px;
	transform: rotateY(180deg);
	
}
